header.app-header.navbar
  button.navbar-toggler.sidebar-toggler.d-lg-none.mr-auto(type="button" data-toggle="sidebar-show")
    span.navbar-toggler-icon
  a.navbar-brand(href="#")
    img.navbar-brand-full(src="img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo")
    img.navbar-brand-minimized(src="img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo")
  button.navbar-toggler.sidebar-toggler.d-md-down-none(type="button" data-toggle="sidebar-lg-show")
    span.navbar-toggler-icon
  
  button.navbar-toggler.aside-menu-toggler.d-md-down-none(type="button" data-toggle="aside-menu-lg-show")
    span.navbar-toggler-icon
  button.navbar-toggler.aside-menu-toggler.d-lg-none(type="button" data-toggle="aside-menu-show")
    span.navbar-toggler-icon
